@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,400;1,600&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}

.mainSection{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: white;
    height: 100vh;
    
}
.todoHead{
    font-size: 3rem!important;
    
}
.navBar{
    color:white;
    background-color: rgba(0,0,0,0.3)
    

}
.nav-link , .navbar-brand{
    color: white !important;
}
